.me{
    background-color:rgb(17, 35, 47) ;
    min-height: 100vh; /* Make me div full viewport height */
    position: relative; 
}
.about{
  z-index: -1;
}
.title{
    padding-top: 5rem;
    color:white;
    font-size: 35px;
    
}
.greet{
    line-height:20px;
    color:#FF7545;
    font-size: 18px;
    font-weight: lighter;
}

.main{
    display: flex;
    padding-top:5rem;


}

.skills{
    color: white;
    font-size: 20px;
    padding-left: 5rem;
    font-weight: 500;
    width: 700px;
    text-align: justify;
}
.content{
    color: white;
    text-align: justify;
    padding:0 18rem;
    padding-bottom: 5rem;
    font-size: large;
    align-items: center;
    
}
.content p{
    padding-bottom: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    
}

.section{
    position: relative; /* Add position absolute to section div */
    left:22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.features-small-item {
    cursor: pointer;
    display: block;
    background: #FFFFFF;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    padding: 10px;
    z-index: 100;
    text-align: center;
    position: absolute;
    width: 50rem;
    
    
  } 

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 30px;
    padding: 10px;
  }
  .grid-item {
    display: flex; /* Use flexbox to center-align content */
    flex-direction: column; /* Align content vertically */
    justify-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
/* Define a keyframes animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply the animation to each icon with a delay */
.icon {
    animation: fadeIn 0.5s ease-in-out forwards;
}

/* Add a delay to each icon */
.icon:nth-child(1) {
    animation-delay: 0.2s;
}
.icon:nth-child(2) {
    animation-delay: 0.4s;
}
.icon:nth-child(3) {
    animation-delay: 0.6s;
}
/* Add similar delay styles for the other icons */


@media (max-width: 768px) {
    .features-small-item {
        width: 90%;
        padding-left: 20rem; /* Adjust the width for smaller screens */
    }
}

/* Media query for screens between 768px and 1024px (e.g., tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    .features-small-item {
        width: 70%; /* Adjust the width for medium-sized screens */
        padding-left: 15rem;
    }
}

/* Media query for screens larger than 1024px (e.g., desktops) */
@media (min-width: 1025px) {
    .features-small-item {
        width: 50rem; /* Reset the width for larger screens */
    }
}

.button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #FF7545;
    background-color: #FF7545;
    overflow: hidden;
    
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #FF7545;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    fill: #fff;
  }
  
  .button:hover {
    background: #FF7545;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #FF7545;
  }
  
  .button:active {
    border: 1px solid #FF7545;
  }